*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: auto auto; 
  align-items: end;
  gap: 30px;
  width: 100%;
  max-width: 1140px;
}

.search-form {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;         
  flex-direction: row;   
  gap: 15px;               
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 75px;
  text-transform: uppercase;
  line-height: 0.94em;
}

.content__accent {
  color: #545050;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  font-weight: 700px;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis; 
}

.content__video-card-description {
  line-height: 16.2px;
  display: -webkit-box;         
  -webkit-line-clamp: 4;         
  -webkit-box-orient: vertical; 
  overflow: hidden;             
  text-overflow: ellipsis;  
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list-container {
    height: 298px;
    width: 399px;
    overflow-y: auto; 
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex; 
  flex-direction: row; 
  align-items: flex-start; 
}

.content__video-card-thumbnail {
  width: 194px; 
  height: 103px;
  object-fit: cover; 
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;          
  flex-direction: row;   
  align-items: center;             
  width: fit-content;    
  gap: 5px;
}

.search-form__textfield {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  appearance: none;
  width: 225px;
  height: 27px;
}


.search-form__textfield:focus {
  outline: none; 
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  border: 1px solid #fff; 
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: none; 
  width: 15px; 
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 2px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  height: 34px;
}

.button:focus-visible {
  outline: 2px solid #fff;
}

.content__list-item {
  display: block;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__video-card:hover .content__video-card-title,
.content__video-card:hover .content__video-card-description {
    text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 2px solid #fff;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

/* pointer */
/* Кнопки */
.button {
    cursor: pointer;
}

/* Карточки */
.content__card-link,
.content__video-card {
    cursor: pointer;
}

/* Чекбоксы */
.search-form__label {
    cursor: pointer;
}

.result__video-container,
.content__list-container {
    position: relative; /* Создаем контекст для абсолютного позиционирования прелоадеров */
}

