.header, .main, .footer {
    background-color: white;
}

.header {
    height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
}

.header_ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-left: 50px;
}

.header_li {
    list-style: circle;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.empty {
    text-decoration: none;
}

.header_address {
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-self: end;
    margin-right: 50px;
}

.header_a, .footer_a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.header_img {
    height: 105px;
    width: 148px;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 180px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.5);
    z-index: 1;
}

.cover_h1 {
    color: #FFF;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    gap: 20px;
    padding-bottom: 106px;
}

.h1_span1 {
    padding-left: 50px;
    padding-top: 165px;
}

.h1_span2 {
    align-self: center;
}

.h1_span {
    letter-spacing: 0.3em;
}

.h1_span3 {
    align-self: flex-end;
}

.description {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding-left: 50px;
    gap: 107px;
    align-items: center;
}

.description_p {
    color: #FFF;
    word-spacing: 0.9em;
    font-size: 22px;
}

.description_button {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    height: 51px;
    width: 256px;
    font-size: 22px;
}

.lots {
    margin-bottom: 120px;
}

.lots_h1 {
    padding-left: 64px;
    font-size: 40px;
}

.lots_ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 100%;
    margin-top: 27px;
    margin-left: 24px;
    margin-bottom: 30px;
}

.lots_li {
    width: 334px;
    min-height: 596px;
    list-style: none;
}

.lots_li_a {
    height: 100%;
}

.lots_a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    margin-left: 64px;
}

.lots_article {
    height: 100%;
    position: relative;
}

.lots_article1 {
    background-image: url(../images/card-lot-01.jpg);
    background-size: 334px 596px;
}

.lots_article2 {
    background-image: url(../images/card-lot-02.jpg);
    background-size: 334px 596px;
}

.lots_article3 {
    background-image: url(../images/card-lot-03.jpg);
    background-size: 334px 596px;
}

.lots_article_h1 {
    color: #FFF;
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-style: bold;
    font-weight: 700px;
    padding-top: 48px;
    padding-left: 40px;
    text-decoration: underline;
    text-transform: uppercase ;
}

.lots_article_p1 {
    padding-top: 274px;
    font-size: 20px;
    color: #FFF;
    position: relative;
    z-index: 2;
    padding-left: 40px;
    padding-right: 40px;
}

.lots_article_p2 {
    padding-top: 30px;
    font-size: 20px;
    color: #FFF;
    position: relative;
    z-index: 2;
    padding-left: 40px;
    padding-right: 40px;
}

.lots_article_p3 {
    padding-top: 126px;
    font-size: 20px;
    color: #FFF;
    position: relative;
    z-index: 2;
    padding-left: 40px;
    padding-right: 40px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 596px;
    margin-left: 24px;
    gap: 72px;
    margin-bottom: 180px;
}

.about_img_background {
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 47px;
    margin-top: 35px;
}

.about_img {
    width: 148px;
    height: 114px;
}

.about_h1 {
    font-size: 40px;
    color: #000;
    margin-bottom: 100px;
}

.about_div2 {
    margin-top: 133px;
}

.about_p {
    font-size: 20px;
}

.about_p1 {
    margin-bottom: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
}

.footer_address {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-left: 50px;
}

.footer_nav_ul {
    display: flex;
    flex-direction: column;
    justify-self: center;
    list-style: none;
    text-align: center;
}

.footer_nav_ul_a {
    text-decoration: underline;
}

.footer_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-self: end;
    gap: 48px;
}

.footer_img {
    width: 48px;
    height: 48px;
}
